root = true

[*]
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj,props}]
end_of_line = lf

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# RCS1033: Remove redundant boolean literal
dotnet_diagnostic.RCS1033.severity = none

# RCS1049: Simplify boolean comparison
dotnet_diagnostic.RCS1049.severity = none

# RCS1085: Use auto-implemented property
dotnet_diagnostic.RCS1085.severity = none

# SA1000: The keyword 'new' should be followed by a space
dotnet_diagnostic.SA1000.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1413: Use Trailing Commas In MultiLine Initializers
dotnet_diagnostic.SA1413.severity = none
