root = true

[*]
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.{bat,cmd}]
end_of_line = crlf

[*.{cs,csproj,props,resx}]
end_of_line = lf

[*.cs]
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = none

# IDE0005: Remove unnecessary usings
dotnet_diagnostic.IDE0005.severity = warning

# IDE0008: Explicit types everywhere (opposite of IDE0007 - only enable one)
csharp_style_var_for_built_in_types      = false
csharp_style_var_when_type_is_apparent   = false
csharp_style_var_elsewhere               = false
dotnet_diagnostic.IDE0008.severity       = warning

# IDE0011: Require braces
csharp_prefer_braces               = true
dotnet_diagnostic.IDE0011.severity = warning

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false

# IDE0028: Use collection initializers
# dotnet_style_collection_initializer = false:suggestion

# IDE0036: Order modifiers
csharp_preferred_modifier_order    = public,private,protected,internal,file,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,required,volatile,async
dotnet_diagnostic.IDE0036.severity = warning

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = always
dotnet_diagnostic.IDE0040.severity = warning

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true
dotnet_diagnostic.IDE0044.severity = warning

# IDE0062: Make local function static
csharp_prefer_static_local_function = true
dotnet_diagnostic.IDE0062.severity = warning

# IDE0161: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning

# IDE2000: Avoid multiple blank lines
dotnet_style_allow_multiple_blank_lines_experimental = false
dotnet_diagnostic.IDE2000.severity = warning

# IDE2001: Embedded statements on their own line
csharp_style_allow_embedded_statements_on_same_line_experimental = false
dotnet_diagnostic.IDE2001.severity = warning

# IDE2002: No blank line between consecutive braces
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false
dotnet_diagnostic.IDE2002.severity = warning

# IDE2003: Blank line between block and next statement
dotnet_style_allow_statement_immediately_after_block_experimental = false
dotnet_diagnostic.IDE2003.severity = warning

# IDE2004: No blank line after colon in constructor initializer
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false
dotnet_diagnostic.IDE2004.severity = warning

# IDE2005: No blank line after token in conditional expression
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false
dotnet_diagnostic.IDE2005.severity = warning

# IDE2006: No blank line after => token
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = false
dotnet_diagnostic.IDE2006.severity = warning

# RCS1033: Remove redundant boolean literal
dotnet_diagnostic.RCS1033.severity = none

# RCS1049: Simplify boolean comparison
dotnet_diagnostic.RCS1049.severity = none

# RCS1085: Use auto-implemented property
dotnet_diagnostic.RCS1085.severity = none

# SA1000: Remove require space after 'new' keyword
dotnet_diagnostic.SA1000.severity = warning

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1101: Prefix Local Calls With This
dotnet_diagnostic.SA1101.severity = none

# SA1306: Field Names Must Begin With Lower Case Letter
dotnet_diagnostic.SA1306.severity = warning

# SA1311: Static Readonly Fields Must Begin With Upper Case Letter
dotnet_diagnostic.SA1311.severity = warning

# SA1312: Variable Names Must Begin With Lower Case Letter
dotnet_diagnostic.SA1312.severity = warning

# SA1412: Store files as UTF-8 with byte order mark
dotnet_diagnostic.SA1412.severity = none

# SA1413: Use Trailing Commas In MultiLine Initializers
dotnet_diagnostic.SA1413.severity = none

# SA1516: Elements Must Be Separated By Blank Line
dotnet_diagnostic.SA1516.severity = warning
